<% include header %>

  <h2>Image Placeholder Generator</h2>
  <ul>
    <li>
      <a href="./demo/blur/index.html" target="_blank">Presentation</a>
    </li>
    <li>
      <a href="./demo/blur/tool.html" target="_blank">Generator</a>
    </li>
  </ul>

<% include footer %>